.CFUserTextEncoding
.DS_Store

Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/

.dropbox/
.local/share/dotfiles/
.local/share/fish/generated_completions/

.aws/credentials
.gnupg/
.ipython/
.pypirc
.ssh/
.subversion
.local/share/fish/fish_history
.viminfo
.zsh_history
